@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,700;1,100&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

@layer components {
    .input-primary {
      @apply 
      border-4 
      border-black 
      dark:border-white 
      rounded-full 
      p-[1rem] flex 
      justify-center 
      items-center
    }
}

/*STYLING ON INPUT TYPE: RANGE - MUSICPLAYER*/

input[type="range"] {
  background: linear-gradient(180deg, #EE0979 0%, #FF6A00 100%);

}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 20px #FF116E ;
  border: none;
  height: 12px;
  width: 12px;
  border-radius: 20px;
  background: #FF1168;
  cursor: pointer;
  -webkit-appearance: none;
}
